<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609029179487-5ac950qt8sojcfpaqb5tkr1tpdi2tj6j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609029179487-5ac950qt8sojcfpaqb5tkr1tpdi2tj6j</string>
	<key>API_KEY</key>
	<string>AIzaSyA6AGwQ2JixOSxSjkwJ3sS-3ClR1h_wuYc</string>
	<key>GCM_SENDER_ID</key>
	<string>609029179487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vicxruiz.AIProject</string>
	<key>PROJECT_ID</key>
	<string>aiproject-f355e</string>
	<key>STORAGE_BUCKET</key>
	<string>aiproject-f355e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609029179487:ios:5185cf4ba2c204461f73ea</string>
</dict>
</plist>